<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Home</title>
    </head>
    <body class="nav-body">
        <div>
            <div class="navbar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="pantry">Vorratskammer</a></li>
                    <form class="logout-form" action="/logout" method="get">    
                        <li><button class="logout-button" type="submit">Logout</button></li>
                    </form>
                </ul>
            </div>
            <div id="outer-container"> 
                <form action="/ongenerate" method="post" id="search-container" class="container">
                    <h1 class="home_h2">Rezept Generator</h1>
                    <p class="column3"></p>
                    <p class="column3"></p>
                    <label class="column3"><input type="radio" name="filter" value="Fr端hst端ck">Fr端hst端ck</input></label>
                    <label class="column3"><input type="radio" name="filter" value="Mittagessen">Mittagessen</input></label>
                    <label class="column3"><input type="radio" name="filter" value="Abendessen">Abendessen</input></label>
                    <label class="column3"><input type="radio" name="filter" value="*">Beliebig</input></label>
                    <p class="column3"></p>
                    <p class="column3"></p>
                    <button type="submit" class="btn column3" >Suchen</button>
                </form>
                <div id="display-container" class="container">
                    <h1 class="home_h1">Vorratskammer</h1>
                    <% for(let i = 0; i < Zutaten.length; i++){%>
                        <div id="item">
                            <label> <%= Zutaten[i].name %> </label>
                        </div>
                    <%}%>
                </div>
            </div>
        </div>
    </body>
</html>