<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Vorratskammer</title>
    </head>
    <body class="nav-body">
        <div>
            <div class="navbar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="login">Logout</a></li>
                </ul>
            </div>
            <div id="grid" class="container" style="align-self: stretch;">
                <% for(let i = 0; i < Zutaten.length; i++){%>
                    <div id="item">
                        <% if (Zutaten[i].vorhanden) { %>
                            <label> <input type="checkbox" id="<%= Zutaten[i].id %>" checked onclick="onCheckClick(this)">&nbsp; <%= Zutaten[i].name %> </input> </label>
                        <% } else if  (Zutaten[i].vorhanden == false) { %>
                            <label> <input type="checkbox" id="<%= Zutaten[i].id %>" onclick="onCheckClick(this);">&nbsp; <%= Zutaten[i].name %> </input> </label>
                        <% } %>
                    </div>
                <%}%>
            </div>
        </div>
        <script>
            function onCheckClick(cd){
                console.log(cd.checked)
            }
        </script>
    </body>
</html>