<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Rezept</title>
    </head>
    <body class="nav-body">
        <div>
            <div class="navbar">
                <ul>
                    <li><a href="home">Home</a></li>
                    <li><a href="pantry">Vorratskammer</a></li>
                    <form class="logout-form" action="/logout" method="get">    
                        <li><button class="logout-button" type="submit">Logout</button></li>
                    </form>
                </ul>
            </div>
            <div id="rezept-container" class="container">
                <h1 class="rezept-h1"> <%= Rezept.name %> </h1>
                <h1 class="rezept-h2"> Zutaten:</h1>
                <% for(let i = 0; i < Zutaten.length; i++){%>
                    <div class="column1">
                        <label > <%= Zutaten[i].name %> </label>
                    </div>
                <%}%>
                <h1 class="rezept-h3">Beschreibung:</h1>
                <p class="rezept-p1"><%= Rezept.beschreibung %></p>
            </div>
        </div>
    </body>
</html>