<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css" />
        <title>Registrieren</title>
    </head>

    <body>
        <div class="container">
            <h1 class="logo">RecipeFinder</h1>
            <div class="signin-signup">
                <form action="/onsignup" method="POST" class="sign-in-form">
                    <h2 class="title">Sign up</h2>
                    <div class="input-field">
                        <input type="text" name="name" placeholder="Benutzername">
                    </div>
                    <div class="input-field">
                        <input type="email" name="email" placeholder="E-Mail">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password1" placeholder="Passwort">
                    </div>
                    <div class="input-field">
                        <input type="password" name="password2" placeholder="Passwort wiederholen">
                    </div>
                    <button type="submit" class="btn">Sign up</button>
                </form>
                <a href="login"><button type="button" class="btn">Einloggen</button></a>
            </div>
        </div>
        <% if(status==1){%><script>alert ("Die Passwörter stimmen nicht überein!");</script><%}%>
        <% if(status==2){%><script>alert ("Der Benutzer existiert bereits!");</script><%}%>
    </body>
</html>